@charset 'utf-8';

@import "~bulma/bulma.sass";

// Custom

@import "./variables.scss";
// @import "./typography.scss";
@import "./header.scss";
@import "./home.scss";
@import "./page.scss";
@import "./property";
@import "./footer.scss";

.wrapper {
  // background: lightblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background: white;
  flex-grow: 1;
}

section:not(.hero-half) {
  padding-top: $size-1 * 2;
}
